<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

	<configuration> 
		<typeAliases> 
			<typeAlias type="com.myweb.command.FreeBoardVO" alias="FreeBoardVO"/> 
			<typeAlias type="com.myweb.command.ReplyVO" alias="ReplyVO"/>
			<typeAlias type="com.myweb.command.UserVO" alias="UserVO"/>
			<typeAlias type="com.myweb.command.SnsBoardVO" alias="SnsBoardVO"/>
		</typeAliases> 
	</configuration>